// app global css in SCSS form
.line-clamp-body {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.imagehover {
  display: block;
  transition-duration: 0.5s;

  &:hover {
    transform: scale(1.2);
    transition-duration: 0.5s;
    opacity: 0.6;
  }
}

.titlehover {
  text-decoration: none;
  color: black;

  &:hover {
    color: #4169e1;
  }
}

.titlehoverdark {
  text-decoration: none;
  color: white;

  &:hover {
    color: #b0c4de;
  }
}

.titlegreyhover {
  color: grey;

  &:hover {
    color: #b0c4de;
  }
}

.selectedTabUnderline {
  position: absolute;
  width: 60%;
  height: 1.5px;
  background-color: currentColor;
  bottom: -4px;
  left: 50%;
  transform: translateX(-50%);
}

.badge-dot {
  position: absolute;
  top: -6px;
  right: -6px;
  width: 8px;
  height: 8px;
  background: rgb(22, 165, 98);
  border-radius: 50%;
}
